#articles {
  background-color: #fff;
}

#articles > .card {
  border: none;

}

#articles > div > div > div{
  display: flex;
  justify-content: center;
  align-items:  center;
}
#articles img {
  max-width: 100%;
  height: 93%;
  object-fit: cover;
}

#article-modal {
  background-color: rgb(128,128,128, .8);
}

.modal-header {
  border-bottom: none;
}

.modal-dialog {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.modal-content {
  max-width: 40%;
  max-height: 60%;
  overflow: scroll;
}

.modal-content img {
  object-fit: cover;
}

.modal-header {
  padding-left: 50px;
  padding-top: 30px;
}

.modal-body {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 14px;
}

#pagination * {
  display:  flex;
  width: 100%;

}


