.universal {
  background-color: #fff;
  border-color: #707070;
  color: #000;
  border-width: thin;
  height: 3em;
  width: 10em;
  font-size: 9px;
  transition: .3s;
}

.universal:hover {
  color: #fff;
  background-color: #000;
  transition: .3s;
}


#universal-pag {
  border: none;
  color: #000;
  font-size: 9px;
}


