footer {
  background-color:  #000;
  width: 89%;
  margin: 5%;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

footer > div {
  display:  flex;
  flex-direction:  column;
  justify-content:  center;
  align-items:  center;
}

#footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  width: 80%;
  padding: 5%;
}


#footer-bottom {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 5%;
}

#footer-bottom > * {
  margin-top: 25px;
}

#about {
  width: 30%;
  height: 20%;
}

#contact {
  width: 30%;
  height: 20%;
}

footer h5, footer p {
  color: #fff;
}

footer h6 {
  font-size: 8px;
  color: grey;
}

#insta_images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-left: 1em;
  column-gap: 1em;
  row-gap: 1em;
}

#insta_box > h5 {
  display:  flex;
  justify-content: center;
}

footer li {
  color: grey;
}

#footer-icons {

  padding: 1em;
  display:  flex;
  justify-content: center;
}


