header {
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  top: 0px; left: 0px; right: 0px;
}

#list {
  all: unset;
  display: flex;
  justify-content: center;
}

#list > li {
  all: unset;
  margin-right: 1em;
}

#list > li:hover {
  all: unset;
  margin-right: 1em;
}

#border-animation{
  background-color: white;
  width:  0px;
  height: 1px;
}

#list > li:hover #border-animation{
  background-color: white;
  height:  1px;
  animation-name: slideover;
  animation-duration: 1s;
  max-width: 100%;
  max-height:  10%;
}

@keyframes slideover {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
