:root{
  --primary_color:  white;
}

#site-logo {
  padding-top: 1.5em;
  padding-left: 5em;
}

a {
  all: unset;
  font-weight: lighter;
}

body, header, footer {
  font-family: "Times New Roman";
  font-weight: lighter;
}

#links {
  color: white;
}

#links:hover {
}

#linkedin {
  fill: white;
}

