#searchbar {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

#searchbar > *, #footer-icons > * {
  margin: .5em;
}

#search-box {
  border-bottom: 1px solid #fff;
  height: 1.75em;
}

#search-box > input {
  background-color:  black;
  border: none;
  color: white;
}

#dropdown_item {
  color: white;
  border: 1px solid white;
  width: 90%;
  padding: 1em;
}

#search-results {
  z-index: 5;
  background-color: black;
  position: relative;
  border-color: white;
}
