#sidebar {
}

#sidebar > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

#winners {
  list-style-type: none;
  margin-left: none;
  padding-left: 0px;
  font-size: 12px;
}

#border {
  border-bottom: 1px solid #DDDDDD;
}
