main {
  width: 100%;
  height: 50vmin;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
}

main img {
  object-fit: cover;
  width:  100%;
  height:  100%;
}

main div {
  width:  100%;
  height:  100%;
}

main > div {
  width: 84%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  background-color:  black;
  bottom: 10%;
  justify-content:  center;
  left: 8%;
  width: 50%;
  max-height: 30%;
  z-index: 5;
  overflow: visible;
  opacity: .9;
  border-radius: 2px;
}
