#sponsors_box {
  text-align: center;
}

#sponsors {
  background-color: var(--primary_color);
  min-height: 200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1fr, 1fr);
  padding-left: 1em;
}

#sponsors > img {
  object-fit: contain;
  width: 80%;
  height: 80%;
}
